@import url(common.css);

/* common_________________________ */
.inner {
  width: 1200px;
  margin: 0 auto;
}
html {scroll-behavior: smooth;}
/* top btn ______________________ */
.top_btn {
  background: url(../images/top.png) no-repeat center / cover;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: .3s;
}
.top_btn a {
  display: block;
  width: 60px;
  height: 60px;
}
.top_btn:hover {
  background-image: url(../images/top_on.png);
}

/* header_____________________________ */
header {
  width: 100%;
  height: 100px;
}

header .inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  height: 100px;
}
.gnb {
  display: flex;
  align-items: center;
  height: 100px;
}
.gnb li {
  padding: 30px;
  font-weight: 500;
  font-size: 18px;
}
.gnb li a {position: relative;transition: .3s;}
.gnb li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: orange;
  transition: .3s;
}
.gnb li a:hover::after {width: 100%;}
.gnb li a:hover {color: orange;}

.util {
  display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
}
.util li {padding-left: 25px;}
.util li span {font-size: 30px;}
.util li p {font-size: 14px;}



/* section_______________________ */
section {
  border: 1px solid #000;
}
section .inner {}
section .inner h2 {
  font-size: 28px;
  color: #333;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}

.agree_wrap {}
.agree_title {
  font-size: 20px;
  margin: 15px 0;
  color: crimson;
  font-weight: 500;
}
.agree_title span {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  color: #777;
}
.agree_con {
  height: 230px;
  padding: 20px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
.agree_con pre {
  white-space: pre-line;
  font-size: 16px;
  font-family: "noto sans kr";
}
.agree_check {
  margin-top: 10px;
  margin-bottom: 40px;
}

.agree_check label input[type=checkbox] {display: none;}
.agree_check label {
  position: relative;
  padding-left: 25px;
}
.agree_check label em {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/checkbox-03.png)no-repeat;
  width: 18px;
  height: 18px;
}
.agree_check label input[type=checkbox]:checked+em{background-position: -26px;}

/* form__________________ */
form {color: #727272;}

table {
  width: 100%;
  border-spacing: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
tbody {box-sizing: border-box;}
tbody tr {font-size: 16px;}
tbody tr th {
  text-align: left;
  width: 110px;
  height: 10px;
  padding: 25px 0 25px 25px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}
tbody tr td {
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #ccc;
  height: 10px;
}
tbody tr td input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  color: #444;
  outline: none;
}

tbody .user_id td span {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}
tbody .user_tel td input {width: 130px;}
tbody .user_tel td span:nth-of-type(3) {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #222;
  cursor: pointer;
}
tbody .user_email td select {
  height: 100%;
  transform: translateY(-2px);
  outline: none;
}
tbody tr:last-child span:nth-of-type(2) {
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}
tbody tr:last-child input {width: 200px;}

.btn_wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px 0 80px 0;
}
.btn_wrap button {
  width: 135px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  margin: 0 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}
.btn_wrap button:nth-child(1) {
  background-color: crimson;
  color: #fff;
  border: none;
}
.btn_wrap button:nth-child(2) {}


/* footer____________________________________ */
footer {background-color: #626b73;}
.policy_wrap {background-color: #464c52;}
.policy_wrap .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.policy li {
  margin-right: 30px;
  position: relative;
}
.policy li:not(:nth-child(3))::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background-color: #7c7c7c;
}
.policy li a {
  display: block;
  color: #c2c2c2;
}

.sns {display: flex;}
.sns li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.sns li:nth-child(1) {background: url(../images/icon.png) no-repeat;}
.sns li:nth-child(2) {background: url(../images/icon.png) no-repeat -60px center;}
.sns li:nth-child(3) {background: url(../images/icon.png) no-repeat -120px center;}
.sns li:nth-child(4) {background: url(../images/icon.png) no-repeat -180px center;}

.sns li a {
  width: 100%;
  height: 100%;
  display: block;
}

.info {
  padding: 20px 0;
  height: 100px;
  display: flex;
  align-items: center;
}
.info .inner p {
  color: #c2c2c2;
  font-size: 16px;
  line-height: 32px;
}

